

.border-list{
  margin-left: 20px;
  margin-top: 30px;
}

body{
  font-weight: 600;
  font-size: 18px;
  font-family:'Avenir Next';
  color: white;
  margin: 0;
  padding: 0;
  background-color: #2E6DBA;
  text-align: center;
}
.title {
font-size: 30px;
margin: 50px 50px;
}

div {
  margin: 20px 20px;
}

.textField {
  font-size: 14px;
  padding: 5px 10px;
  margin: auto 16px;
  height: 46px;
  width: 450px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-sizing: border-box;
}

.textFieldError {
  font-size: 14px;
  padding: 5px 10px;
  margin: auto 16px;
  height: 46px;
  width: 450px;
  border: 1px solid #BF1F41;
  border-radius: 10px;
  box-sizing: border-box;
}

.roundedBtn {
  height: 35px;
  margin: auto 0px auto 0px;
  padding: 0px 15px;
  background-color: #50E3C2;
  border-radius: 17.5px;
  border: 0px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  cursor:pointer;

}


.roundedBtn:hover {
  background-color: #389F88;
}

.roundedBtn:active {
  color: #B3B3B3;
}

div.error {
  color: #FFF;
  display: none;
  font-weight: 400;
}



