/* Page */
.timeline {
  background-color: #F7F7F7;
  width: 600px;
  height: 100vh;
  display: block;
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 0px;
}

/* Search field section*/
.searchFieldSection {
  background-color: #F7F7F7;
  height: 78px;
  display: flex;
}

/* Users section */
.roomDiv {
  background-color: #FFF;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 0px;
  color: black;
  cursor:pointer;
  height: 55px;
}

.leftInfo {
  display: inline-block;
  height: 55px;
;
}

.rightInfo {
  float: right;
  display: inline-block;
  height: 50px;
  margin: 5px 10px 0px 0px;
  padding: 0;
  text-align: right;
}

.roomStatus {
  float: left;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0px 0px 10px;
}

.roomNumber {
  float: left;
  display: inline-block;
  font-weight: 600;
  height: 35px;
  margin: 18px 10px 10px 10px;
}

.roomStatus.available {
  background-color: #7ED321;
}

.roomStatus.occupied {
  background-color: #BF1F41;
}

.roomStatus.inService {
  background-color: #F5A623;
}

.roomStatus.inRepair {
  background-color: #C5C4C2;
}



.modalContent.historyModalContent {
  width: 500px;
  height: 400px;
}

.modalMessage {
  display: inline-block;
  margin: 5px 16px 0px 0px;
}

.modalTitle{
  display: inline-block;
  margin: 5px 16px 0px 0px;
}
